<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>after</title>
<link rel="stylesheet" type="text/css" href="/common.css">
</head>
<body>

	<h1 align="center">🐤 <span th:text="${ dateAfter }"></span> 이후 등록된 상품들 🐤</h1>
	
	<div class="flex">
		<div align="left" class="searchBox">
		<form action="/product/search" method="get">
		    <input type="text" placeholder="상품명 입력 :)" name="keyword">
		    <input type="submit" value="검색">
	    </form>
	    </div>
	    
	    <div align="right" class="dateBox">
		<form action="/product/after" method="get">
		    <input type="date" name="dateAfter">
		    <input type="submit" value="이후 상품 조회">
	    </form>
		</div>
    </div>
    
    <table align="center" border="1">
		<tr>
			<th>상품번호</th>
			<th>상품명</th>
			<th>상품가격</th>
			<th>등록일</th>
			<th>제조사</th>
			<th>판매여부</th>
		</tr>
		<tr th:each="product : ${ productList }">
			<td th:text="${ product.productNo }"></td>
			<td th:text="${ product.productName }"></td>
			<td th:text="${ #numbers.formatInteger(product.productPrice, 3, 'COMMA') } + 원"></td>
			<td th:text="${ product.date }"></td>
			<td th:text="${ product.supplierName }"></td>
			<td th:text="${ product.orderableStatus }"></td>
		</tr>
	</table>

</body>
</html>