<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>regist Product</title>
<link rel="stylesheet" type="text/css" href="/common.css">
</head>
<body>

	<h3 align="center">신규 상품 등록</h3>
	
	<form align="center" action="/product/regist" method="post">
		<label>상품명 : </label><input type="text" name="productName"><br>
		<label>상품 원가 : </label><input type="number" name="productPrice"><br>
		<label>제조사 : </label>
		<select name="supplierName">
			<option value="SAMSUNG">삼성</option>
			<option value="LG">LG</option>
			<option value="APPLE">Apple</option>
			<option value="PHILIPS">Philips</option>
			<option value="DYSON">Dyson</option>
			<option value="DAEWOO">대우</option>
			<option value="HYUNDAI">현대</option>
		</select><br>
		<label>판매 상태 : </label>
		<select name="orderableStatus">
			<option value="Y">판매가능</option>
			<option value="N">판매불가</option>
		</select><br>
		<input type="submit" value="등록">
	</form>

</body>
</html>