<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>main</title>
<link rel="stylesheet" type="text/css" href="/common.css">
</head>
<body>

	<h1 align="center">🌱 떡잎 백화점 🌱</h1>
	
	<div align="center">
	<button onclick="location.href='/product/todays'">오늘의 상품</button>
	<button onclick="location.href='/product/list'">전체 상품</button>
	<button onclick="location.href='/product/regist'">상품 등록</button>
	<button onclick="location.href='/product/modify'">상품 수정</button>
	<button onclick="location.href='/product/remove'">상품 삭제</button>
	<button onclick="location.href='/product/1'">테스트</button>
	</div>

</body>
</html>